/* je colorie tous mes paragraphes en goldenrod et je centre leurs textes */
p{
    color: goldenrod;
    text-align: center;
} 
/* j'insere les parametre que je veux attribuer à ma class rsma 
    - la taille est de 25 pixel
    -le texte prend une couleur bleu
*/
.rsma{
    color:blueviolet;
    font-family: 'Tangerine', serif;
    font-size: 48px;

}
/* je colorie tout mes titres de niveau h1 en green*/
h1{ 
    color: green;
}
/* je colorie tout mes listes ordonnées en bleu*/
ol{
    color: blue;
}
/* je colorie tout mes listes non-ordonnées en bleu*/
ul{
    color: red;
}